/* Hero banner background image */
.bgimage {
  position: relative;
    width:100vw;
    height:100%;
    background: url('../images/planthero.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    background-attachment: fixed;
    background-color: #ffffff;
    padding-bottom: 5%
  }

  /* Mobile logo */
  @media only screen and (max-width: 768px)
  {#logo {display:block;}}
  
  @media only screen and (min-width: 768px)
  {#logo{display:none;}}
  
  #logo {
    position:absolute;
    top: 35px;
    left: 5%;
    width: 200px;
    height: auto;
  overflow:hidden;}

  /* Hero banner heading */
  .bgimage h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 64px;
    color:#034001;
    text-shadow: 2px 2px #ffffff;
  }

  .howTo h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    color: #000000;
  }

  .howTo {
    text-align: center;
  }

  @media only screen and (max-width: 800px) {
  .bgimage p1 {display: none;}}

  /* Paragraph text */
  p1 {font-family: 'roboto', sans-serif;
  color: #272727;
font-size: 18px;
font-weight: 300;}

p2 {
  font-size: 20px;
  color: #022601;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

p3 {
  font-size: 24px;
  color: #272727;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

p4 {
  font-size: 36px;
  color: #272727;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.row p3 {color: #55A603;
font-weight: bold;
text-shadow: 1px 1px  5px #ffffff;}

@media only screen and (min-width: 575px)   {
#firststep {
 padding-left: 10%;
}}

/* Hero banner text on mobile */
@media only screen and (max-width: 600px)   {
  #heading {
    text-align:center !important;
    padding-left: 8% !important;
    padding-right: 8% !important;
  }}

  @media only screen and (min-width: 900px)  {
  #heading {
    margin-left: 12%;
  }}

  @media only screen and (min-width: 900px)  {
    #mockup {
      margin-left: 6%;
    }}

  @media only screen and (max-width: 900px)   {
    #heading {
      padding-left: 5%;
    }}
  
/* Hero banner mockup spacing */
  #mockup {
    padding-left: 10%;
  }

  @media only screen and (max-width: 575px) 
  {#mockup {padding: 0px;
  }}

  /* Hero banner mockup size */
  #heromockup {
    width: 300px;
    height: auto;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.25);
    border-radius: 50px;
  }

    #heromockup:hover {transform:scale(1.02,1.02);
    transition: 1s;}

  @media only screen and (max-width: 575px)   {
    #heromockup {
      width: 60% !important;
      height: auto !important;
      display: block;
  margin-left: auto;
  margin-right: auto;}}

/* Desktop navigation */
  .navbar {
    margin-left: 8%;
  margin-right: 8%;}
  
.navigationItem {display: none;}

.mobileNav {
  position: fixed;
  top: 0;
  right: 0;
  background-color: white;
  padding: 0px;
  width: 100%;
  height: 0vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .5s ease;
  overflow: hidden;
  z-index: 1;
}

@media only screen and (max-width: 768px)
{.hamburgerMenu {display:block;}}

@media only screen and (min-width: 768px)
{.hamburgerMenu {display:none;}}

.hamburgerMenu {
  position:absolute;
  top: 35px;
  right: 5%;
  z-index: 2 !important;
overflow:hidden;}

.hamburger {
  width: 7vw;
  height: 5vw;
  }
  
  .open 
  {background: url(../images/Hamburger.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;}

    .closed
    {background: url(../images/Close.png);
      background-repeat: no-repeat;
      background-size: 80% 105%;}


.active {display: block;}

#mobileNavItems {
  display: flex;
  flex-direction: column;
  opacity: 0;
  color: black;
  transition: all .5s ease;
  text-align: center;
}

#mobileNavItems a {
  color: black;
}

#appstore {
width: 141px !important;
height: 42px !important;
margin-bottom: 3%;
border-radius: 6px;}

#appstore:hover {cursor: pointer;
opacity: .8;}

#googleplay {
  width: 140px !important;
  height: 42px !important;
margin-bottom: 3%;
border-radius: 6px;}

  #googleplay:hover {cursor: pointer;
    opacity: .8;}
  

    @media only screen and (min-width: 768px) {
#navbackground {
  background: #ffffff;
}}

.heroline {height: 2px;
width: 200px;
background: #000000;
text-shadow: 2px 2px #ffffff;}

@media only screen and (max-width: 600px)  
{.heroline {display: none !important;}}

.nav-link p2:hover {color: #267302 !important;}

@media only screen and (max-width: 560px) {
.descriptionone {text-align: center;}}

.descriptionone {padding-bottom: 5%;}

@media only screen and (max-width: 600px) {
.subheadone {text-align: center;}}

@media only screen and (max-width: 600px) {
  #searchplant{display: block;
    margin-left: auto;
    margin-right: auto;}}

    #searchplant{
      box-shadow: 10px 10px 20px rgba(0,0,0,0.25);
    border-radius: 35px;}

    #searchplant:hover {transform:scale(1.02,1.02);
      transition: 1s;}

      .thinline {height: 2px;
        width: 200px;
        background: #527AE2;
      margin-left: auto;
    margin-right: auto;}

    @media only screen and (min-width: 575px) {
    .blankspace {height: 100px !important;}}

    @media only screen and (max-width: 575px) {
      .blankspace {height: 10px;}}

      @media only screen and (min-width: 575px) {
        .blankspacesmall {height: 70px !important;}}
    
        @media only screen and (max-width: 575px) {
          .blankspacesmall {height: 40px;}}

      #elementsofplant {
        position: relative;
    width:100vw;
    height:500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    background-attachment: fixed;
    padding-bottom: 5%;
        height: 100%;
        background: #f0f0f0;
        box-shadow: 
        inset 0px 11px 16px -10px rgba(0,0,0,0.3),
        inset 0px -11px 16px -10px rgba(0,0,0,0.3); 
     }
  
     @media only screen and (max-width: 600px) {
     .herosubhead {
       display: none;
     }}

 .element {
      box-shadow: 10px 10px 20px rgba(0,0,0,0.08);
      border-radius: 100px;
      margin-top: 10px;
      margin-bottom: 10px;
      margin-left: auto;
      margin-right: auto;
      border: 35px solid white;
     }

   .card-deck {margin-left: 8% !important;
  margin-right: 8% !important;}

  .card {
    background: none !important;
    border: 0px !important;
  }

  .card-footer {
    background: none !important;
    border: 0px !important;
  }

  .card-title {text-align: center !important;
  font-size: 24px !important;}

  .card-text {text-align: center !important;
    font-size: 18px !important;
    font-weight: 300;
  text-shadow: 2px 2px  5px #ffffff;}
    

    #footer {background: #034001;
    height: 100%;
  text-align: center;}

  #footer p2 {color: white;
    font-weight: 300;}

  #footer a {font-size: 50px !important;}

  #footer a:hover {color: white;
  text-decoration: none;}

  .fa {
    padding: 20px;
    width: 100px;
    font-size: 50px;
    text-align: center;
    text-decoration: none;
    color: white;
  }

  #firsticon {padding-left: none !important;
  padding-right: 20px;}
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.8;
  }

  .leafThing{
  position: relative;
  color: white;
  padding-bottom: 50px;
}

.bottom-right {
  position: absolute !important;
  bottom: 120px;
}

.bottom-left {
  position: absolute !important;
  bottom: 120px;
}

@media only screen and (max-width: 575px)  {
  .bottom-left {
    position: absolute !important;
    top: 50%;
    left: 50% !important;
    bottom: auto !important;
    transform: translate(-50%, -50%);
    min-width: 400px;
  }}

@media only screen and (max-width: 575px)  {
.bottom-right {
  position: absolute !important;
  top: 50%;
  left: 50% !important;
  bottom: auto !important;
  transform: translate(-50%, -50%);
  min-width: 400px;
}}

#leaf {opacity: .6;
  left: -100px !important;
  z-index: 99 !important;}

@media only screen and (max-width: 650px)  {
  #leaf {width: 250px !important;
  height: auto;
}}

#leafreverse {opacity: .6;
  right: -100px !important;
  z-index: 99 !important;}

@media only screen and (max-width: 650px)  {
  #leafreverse {width: 250px !important;
  height: auto;
}}